body {
  margin: 1rem;
}

li {
  list-style: none;
  margin-right: 5rem;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.list {
  text-align: center;
}

.item {
  display: flex;
  justify-content: center;
  margin: 1rem;
  font-size: 1.3rem;
}

.rmBtn {
  margin-left: 2rem;
  padding-left: 20px;
  padding-right: 20px;
}
